.mh-10{
  background-image: image-url("mac.jpg");
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .1)), to(rgba(255, 255, 255, .1))), url(mac.jpg);
  background: linear-gradient(90deg, rgba(255, 255, 255, .1) 0, rgba(255, 255, 255, .1) 100%), url(mac.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contair{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.text-center{
  text-align: center!important;
}

.headfonts {
  color: #fff;
}

.icon-img{
  background-image: image-url("IMG_0210.png");
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  border-image: none;
}